body {
  background-color: #0d10a3;
}

.cont {
  width: 40%;
  margin: auto;
  background-color: aquamarine;
  padding: 60px;
  margin-top: 60px;
}

.color-list {
  background-color: #e4c580;
}

.color-list:hover {
  background-color: #f4e4c1;
}

.test {
  font-size: 20px;
  color: #080f5b;
}

